@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*
font-family: 'Balsamiq Sans', cursive;
font-family: 'Montserrat', sans-serif;
*/

* {
	margin: 0;
}

header {
	max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.body {
	background-color: #00c0ff;
	font-family: 'Montserrat', sans-serif;
}

.dark {
	background-color: #000000;
	font-family: 'Montserrat', sans-serif;
	color: #012ffa;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
}

button {
	height: 50px;
	width: 150px;
	background-color: #ffae00;
	border-radius: 30px;
}

p {
    margin: 10px
}
/* --------------------------------Nav-----------------------------------*/

.nav-list {
	background-color: #ffae00;
	height: 60px;
	max-width: 100%;
	text-decoration: none;
	list-style: none;
	display: flex;
	align-items: center;
}

.nav-right {
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-right: 40px;
}

li {
	margin: 1rem;
}

.nav-item {
	text-decoration: none;
	list-style: none;
	color: black;
}

.username {
	font-weight: 600;
}

.logout {
	margin-left: 20px;
}

img {
	width: 75px;
	height: 65px;
}

/* -------------------------------- Home - main div -----------------------------------*/

.home {
	max-width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.home h1 {
	font-family: 'Balsamiq Sans', cursive;
}

.content {
	background-color: #00ffbf;
	width: 400px;
	margin: 100px auto;
	padding: 20px;
	border-radius: 10px;
}

.content p,
h1,
button {
	padding: 10px;
}

.content h1 {
	padding: 15px;
	font-size: 60px;
}

/* -------------------------------- Cards -----------------------------------*/
.card-holder {
	display: flex;
	justify-content: center;
}

.card {
	margin: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
	background-color: #00ffbf;
	height: 300px;
	width: 300px;
	transform: rotateY(var(--rotate-y, 0));
	transform-style: preserve-3d;
	transition: 1500ms;
	cursor: pointer;
	transform: perspective(5000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
	--translate-y: -2px;
	--rotate-y: 180deg;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.front,
.back {
	position: absolute;
	padding: 1rem;
	color: black;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: rotateX(0deg);
}

.front {
	font-size: 30px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.front p {
	text-align: center;
}

.back {
	transform: rotateY(180deg);
	width: 100%;
	height: 100%;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-items: center;
	padding: 15px;
}

/* -------------------------------- Forms (login, register, create) -----------------------------------*/

.register {
	background-color: #00ffbf;
	text-align: center;
	width: 400px;
	margin: 100px auto;
	padding: 20px;
	border-radius: 10%;
	font-family: 'Montserrat', sans-serif;
}
.register h1 {
	padding-bottom: 2rem;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 30px;
}

input[type='text'],
input[type='password'],
input[type='email'] {
	width: 100%;
	padding: 12px 20px;
	margin: 10px 0px 20px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
}

input[type='submit'] {
    margin: 20px;
	height: 50px;
	width: 125px;
	background-color: #ffae00;
	border-radius: 30px;
}

.register textarea {
	max-width: 98%;
	min-width: 98%;
	border-radius: 30px;
    padding: 10px;
}

/*-------------------------------------Flashcards------------------------------------------------*/
.flashbtn {
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.flashbtn button {
	margin: 25px;
}
button:hover {
	background-color: #e29b00;
}

button:active {
	background-color: #d18f00;
	box-shadow: 0 5px #c08401;
	transform: translateY(4px);
}

/*-----------------------------Button --------------------------------*/

.Next{
    background-color: #2DBF64;
}

.Next:hover {
	background-color: #26a055;
}

.Next:active{
    background-color: #1e8b48;
	box-shadow: 0 5px #1c8042;
	transform: translateY(4px);
}

.Delete{
    background-color: #ed5650;
}

.Delete:hover {
	background-color: #db4d48;
}

.Delete:active{
    background-color: #c94843;
	box-shadow: 0 5px #aa3d39;
	transform: translateY(4px);
}
